<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="selenium22TestNG_Test_annotation.OrangeHRMTest"/>
      <class name="selenium22TestNG_Test_annotation.FirstTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
